<div>
  <table class="table responsive table-striped mt-1">
    <tr>
      <td>
        <p class="card-text"><small>Number of Arms</small> </p>
      </td>
      <td>
        <p class="card-text"><small>{{ data['arms']}}</small> </p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Trial Blind Scheme</small></p>
      </td>
      <td>
        <p class="card-text"><small>TBD</small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Blinded Roles</small></p>
      </td>
      <td>
        <p class="card-text"><small>TBD</small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Number of Participants</small></p>
      </td>
      <td>
        <p class="card-text"><small>TBD</small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Duration</small></p>
      </td>
      <td>
        <p class="card-text"><small>TBD</small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Idenependent Committee</small></p>
      </td>
      <td>
        <p class="card-text"><small>TBD</small></p>
      </td>
    </tr>
  </table>
</div>
