<div>
  <table class="table responsive table-striped mt-1">
    <tr>
      <td>
        <p class="card-text"><small>Intervention Model</small> </p>
      </td>
      <td>
        <p class="card-text"><small>{{ data['intervention_model']}}</small> </p>
      </td>
      <td>
        <p class="card-text"><small>Population Type</p></small>
      </td>
      <td>
        <p class="card-text"><small>{{data['population_type']}}</small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Control Type</small></p>
      </td>
      <td>
        <p class="card-text"><small><i>Coming in UI soon!</i></small></p>
      </td>
      <td>
        <p class="card-text"><small>Population Diagnosis or Condition</small></p>
      </td>
      <td>
        <p class="card-text"><small><i>Coming in UI soon!</i></small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Control Description</small></p>
      </td>
      <td>
        <p class="card-text"><small><i>Coming in UI soon!</i></small></p>
      </td>
      <td>
        <p class="card-text"><small>Population Age</small></p>
      </td>
      <td>
        {% set pop_age = data['population_age'] %}
        <p class="card-text"><small>{{pop_age['min']}} to {{pop_age['max']}} {{pop_age['unit']}}</small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Intervention Assignment Method</small></p>
      </td>
      <td>
        <p class="card-text"><small><i>Coming in UI soon!</i></small></p>
      </td>
      <td>
        <p class="card-text"><small>Site Distribution and Geographic Scope</small></p>
      </td>
      <td>
        <p class="card-text"><small><i>Coming in UI soon!</i></small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Adaptive Trial Design</small></p>
      </td>
      <td>
        <p class="card-text"><small>{{data['adaptive_design']}}</small></p>
      </td>
      <td>
        <p class="card-text"><small>Master Protocol Design</small></p>
      </td>
      <td>
        <p class="card-text"><small>{{data['master_protocol']}}</small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Drug / Device Combination Product Indication</small></p>
      </td>
      <td>
        <p class="card-text"><small><i>Coming in UI soon!</i></small></p>
      </td>
      <td>
        <p class="card-text"><small></small></p>
      </td>
      <td>
        <p class="card-text"><small></small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Characteristics</small></p>
      </td>
      <td>
        <p class="card-text"><small>{{ data['characteristics']|join(', ') }}</small></p>
      </td>
      <td>
        <p class="card-text"><small>Trial Intent</small></p>
      </td>
      <td>
        <p class="card-text"><small>{{ data['trial_intent']|join(', ') }}</small></p>
      </td>
    </tr>
    <tr>
      <td>
        <p class="card-text"><small>Therapeutic Areas</small></p>
      </td>
      <td>
        <p class="card-text"><small>{{ data['therapeutic_areas']|join(', ') }}</small></p>
      </td>
      <td>
        <p class="card-text"><small>Trial Types</small></p>
      </td>
      <td>
        <p class="card-text"><small>{{ data['trial_types']|join(', ') }}</small></p>
      </td>
    </tr>
  </table>
</div>
