{% extends "shared/_main_layout.html" %}

{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}

{% block main_content %}
  {% if data['pfda'] or data['os'] %}
    {% set source = 'pfda' if data['pfda'] else 'os' %}
    <div class="mt-3 row row-cols-2">
      <div class="col">
        {% with url="/import/m11/fileList", title="Import M11 Protocol", subtitle="Import for a M11 formatted '.docx' file", text="Select a single M11 file", data=data %}
          {% include "import/partials/other_file_select.html" %}
        {% endwith %}
      </div>
    </div>
  {% else %}
    <div class="mt-3 row row-cols-2">
      <div class="col">
        {% with url="/import/m11", title="Import M11 Protocol", subtitle="Import for a M11 formatted '.docx' file", text="Select a single M11 file", disable=False %}
          {% include "import/partials/browser_file_select.html" %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
{% endblock %}
