{% extends "shared/_new_layout.html" %}
{% block user %}Fred{% endblock %}
{% block main_content %}
  <div class="container-fluid mt-3">
    <div class="row row-cols-3">
      <div class="col">
        <div class="card rounded-3 shadow-sm h-100 text-center d-flex">
          <div class="card-body ">
            <a href="/test">Test Page</a><br/>
            <a href="/index">Index</a><br/>
            <a href="/logout">Logout</a>
          </div>  
        </div>
      </div>
    </div>
  </div>
{% endblock %}
