<form id='display_name_form' hx-post="/users/{{user.id}}/displayName" hx-target="#display_name_input_div" hx-swap="outerHTML">
  {% set validation = data['validation']['user'] %}
  {% with field="display_name", validation=validation, input_id="name", label="Display Name: " ~ user.display_name, placeholder="Enter a new display name" %}
    {% include "shared/partials/text_input.html" %}
  {% endwith %}
  {% with icon="bi-person-badge", label="Update Display Name" %}
    {% include "shared/partials/submit.html" %}
  {% endwith %}
</form>
