<div class="mb-3">
  <form id='endpoint_form' hx-post="/users/{{user.id}}/endpoint" hx-target="#endpoint_input_div" hx-swap="outerHTML">
    {% set validation = data['validation']['endpoint'] %}
    {% with field="name", validation=validation, input_id="name", label="Endpoint Name", placeholder="Enter a name for the server" %}
      {% include "shared/partials/text_input.html" %}
    {% endwith %}
    {% with field="endpoint", validation=validation, input_id="url", label="Endpoint URL", placeholder="Enter the url for the server" %}
      {% include "shared/partials/text_input.html" %}
    {% endwith %}
    <button type="submit" class="btn btn-outline-primary rounded-5 mt-3">
      <i class="bi bi-hdd-network pe-2"></i>
      Add Endpoint
    </button>
  </form>
</div>
