uvicorn[standard]
itsdangerous==2.2.0
sqlalchemy==2.0.31   
alembic==1.13.2
usdm==0.64.0
usdm4==0.12.0 # <<<<
usdm4_excel>=0.7.0
usdm3_excel>=0.1.0
usdm4_m11==0.6.1 # <<<<
usdm4_cpt==0.3.0
usdm4_legacy>=0.1.0-alpha.3
usdm4_fhir==0.5.1 # <<<<
usdm4_pj==0.2.0
d4k-ms-base>=0.4.0
d4k-ms-service>=0.2.0
d4k-ms-auth>=0.5.0
d4k-ms-ui>=0.2.0
python-multipart>=0.0.20
# Force docling version
docling==2.43.0
pytest==8.2.2
pytest-mock==3.14.0
pytest-cov==4.1.0
pytest-asyncio==0.26.0
playwright==1.48.0
pytest-playwright==0.5.2
ruff==0.9.1
