<div id="specification-card">
    <div class="card data-panel">
        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#template-div" style="cursor: pointer;">
            <i class="bi bi-caret-down me-2"></i>Template Specification
        </div>
        <div id="template-div" class="collapse">
            {% with data = data["element"]["template"]%}
                {% include "m11/partials/template.html" %}
            {% endwith %}  
        </div>
    </div>
    <div class="card data-panel mt-2">
        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#technical-div" style="cursor: pointer;">
            <i class="bi bi-caret-down me-2"></i>Technical Specification
        </div>
        <div id="technical-div" class="collapse">
            {% with data = data["element"]["technical"] %}
                {% include "m11/partials/technical.html" %}
            {% endwith %}
        </div>
    </div>
    <div class="card data-panel mt-2">
        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#usdm-div" style="cursor: pointer;">
            <i class="bi bi-caret-down me-2"></i>USDM Mapping
        </div>
        <div id="usdm-div" class="collapse">
            {% with data = data["mapping"]["usdm"]  %}
                {% include "m11/partials/usdm_mapping.html" %}
            {% endwith %}  
        </div>
    </div>
    <div class="card data-panel mt-2">
        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#fhir-div" style="cursor: pointer;">
            <i class="bi bi-caret-down me-2"></i>FHIR M11 Mapping
        </div>
        <div id="fhir-div" class="collapse">
            {% with data = data["mapping"]["fhir"] %}
                {% include "m11/partials/fhir_mapping.html" %}
            {% endwith %}  
        </div>
    </div>
    <div class="card data-panel mt-2">
        <div class="card-header" data-bs-toggle="collapse" data-bs-target="#status-div" style="cursor: pointer;">
            <i class="bi bi-caret-down me-2"></i>Implementation Status
        </div>
        <div id="status-div" class="collapse">
            {% with data = data["status"] %}
                {% include "m11/partials/fhir_status.html" %}
            {% endwith %}  
        </div>
    </div>
</div>
<h6 id="specification-card-header" class="card-subtitle mt-1" hx-swap-oob="true">M11 Specification: {{data["element"]["technical"]["name"]}}</h6>

