
<div class="card-body">
    {{data}}
    <table class="table">
        <tr>
            <td class="fit"><strong>Resource</strong> </td>
            <td>{{data["Resource"]}}</td>
        </tr>
        <tr>
            <td><strong>Sample XML</strong> </td>
            <td><div class="xml-code" >{{data["Sample XML"]}}</div></td>
        </tr>
        <tr>
            <td><strong>Example Value(s)</strong> </td>
            <td><div class="xml-code" >{{data["Example Value(s)"]}}</div></td>
        </tr>
    </table>
</div>
    