<div id="data-div" class="mt-3 row align-items-start">
    <div class="col-6">
        <div class="card rounded-3">
            <div class="card-header">
                <!-- Card Header -->
                <div class="d-flex justify-content-between">
                    <h6 class="card-subtitle mt-1">M11 Template By Section</h6>
                    <div class="d-flex justify-right">
                        <a class="link-dark" style="font-size: 14px;" data-bs-toggle="offcanvas"
                            href="#protocol_menu" role="button">
                            <i class="ps-2 bi bi-list"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Menu -->
            {% with data=data['section_list'] %}
                {% include "versions/protocol/partials/menu.html" %}
            {% endwith %}  

            <!-- Card Body -->
            <div class="card-body card-body-height p-0">
                <div class="outer-div pt-2 pb-2">
                    <div id="m11-card" class="extract-div">
                        <div class="overflow-auto section-div">
                            {{data["template"]|safe}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-6">
        <div class="card rounded-3">
            <div class="card-header">
                <!-- Card Header -->
                <div class="d-flex justify-content-between">
                    <h6 class="card-subtitle mt-1">M11 Specification</h6>
                </div>
            </div>

            <div class="card-body card-body-height">
                <div id="specification-card">
                    <p class="card-text"><i>Specifcation data will appear here</i></p>
                </div>
            </div>
        </div>
    </div>
</div>