<div class="card-body">
    <table class="table">
        <tr>
            <td><strong>Name</strong></td>
            <td>{{data["name"]}}</td>
        </tr>
        <tr>
            <td><strong>Mappings</strong></td>
            <td>
                {% for mapping in data["mappings"] %}
                    <div class="force-wrap">
                        <strong>Path: </strong>{{mapping["target"]["path"]}}
                    </div>
                    {% for condition in mapping["conditions"] %}
                        <div class="mt-2 p-2 border rounded bg-light">
                            <div class="ms-2 force-wrap"><strong>Condition Path: </strong>{{condition["path"]}}</div>
                            <div class="ms-2"><strong>Notes: </strong>{{condition["notes"]}}</div>
                        </div>
                    {% endfor %}                    
                    <div class="mt-2">
                        <strong>Notes: </strong>{{mapping["target"]["notes"]}}
                    </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td><strong>Notes</strong></td>
            <td>{{data["notes"]}}</td>
        </tr>
    </table>
</div>
