{% extends "shared/_home_layout.html" %}
{% block main_content %}
<div class="bg-image" 
style="background-image: url('static/images/background.jpg'); height: 100vh">
<div class="container-fluid vh-100 d-flex justify-content-left align-items-center">
  <div class="row">
    <div class="col-9">
      <h1 style="color:#C49C3D;">d4k Study Definitions Workbench <small>(v{{data['version']}})</small></h1>
      <p class="text-white">
        Welcome to the d4k Study Definitions Workbench. Click on the button below to register or login. 
        A basic user guide can be downloaded from <a name="ugAnchor" href="/help/userGuide/splash">here</a>.
        {% if single_multiple() == "MULTIPLE" %}
          Our privacy policy can be downloaded from <a name="ppAnchor" href="/help/privacyPolicy/splash">here</a>.
        {% endif %}
      </p>
      <div class="d-grid gap-2">
        <a name="login_button" class="btn btn-lg btn-primary rounded-5" type="button" href="/login">Click here to register or login</a>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}
