{% extends "shared/_main_layout.html" %}
{% block environment_content %}
  {% with request=request %}
    {% include "shared/partials/environment.html" %}
  {% endwith %}    
{% endblock %}
{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}
{% block menu_content %}
  {% with data=data %}
    {% include "shared/partials/import_menu.html" %}
  {% endwith %} 
{% endblock %}
{% block main_content %}
  <div class="container-fluid">
    {% if data['items']|length == 0 %}
      <div class="col mt-3">
        <div class="card card-body rounded-3">
          <h6 class="card-subtitle">You have not loaded any studies yet.</h6>
          <p class="card-text text-muted lh-1"><small>Use the import menu to upload one or more studies</small></p>
        </div>
      </div>
    {% else %}
      {% for item in data['items'] %}
        {% set id = "card-" ~ loop.index0 ~ "_div" %}
        {% if loop.index0 % 4 == 0 %}
          <div class="mt-3 row row-cols-4">
        {% endif %}
        <div class="col">
          <div class="card card-body rounded-3 h-100">
            <div class="row">
              <h6 class="card-subtitle">{{item['sponsor']}}: {{item['sponsor_identifier']}}</h6>
            </div>
            <div class="row mt-2">
              <div class="container">
                <p class="card-text text-muted lh-1"><small>{{item['title']}}</small></p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="container">
                {% if item['versions'] == 1 %}
                  {% set vtext = "1 version" %}
                {% else %}
                  {% set vtext = item['versions'] ~ " versions" %}
                {% endif %}            
                <span class="badge rounded-pill bg-info">{{item['phase']}}</span>
                <span class="badge rounded-pill bg-info">{{vtext}}</span>  
                {% if item['import_type'] == "DOCX" %}
                  <span class="badge rounded-pill bg-primary">M11 Document</span>
                {% elif item['import_type'] == "XLSX" %}
                  <span class="badge rounded-pill bg-success">USDM Excel</span>
                {% else %}
                  <span class="badge rounded-pill fhir">FHIR</span>
                {% endif %}            
                
              </div>
            </div>
            <div class="row mt-3">
              <div class="container">
                <a href="/versions/{{item['latest_version_id']}}/summary" class="btn btn-sm btn-outline-primary rounded-5">
                  <i class="bi bi-gear"></i>
                  View Details
                </a>  
                <a href="/versions/{{item['latest_version_id']}}/protocol" class="btn btn-sm btn-outline-primary rounded-5">
                  <i class="bi bi-file-text"></i>
                  View Protocol Document
                </a>  
              </div>
            </div>
          </div>
        </div>
        {% if loop.index0 % 4 == 3 %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
{% endblock %}
