{% extends "shared/_main_layout.html" %}

{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}
{% block menu_content %}
    {% with data=data %}
        {% include "shared/partials/validate_menu.html" %}
    {% endwith %}
{% endblock %}


{% block main_content %}
  {% set url = data['url'] ~ "?version=" ~ data['version']%}
  {% set title = "Validate USDM JSON" %}
  {% set subtitle = "Validation for USDM version " ~ data['version'] ~ " '.json' file" %}
  {% set text = "Select a single USDM file" %}
  {% set disable = False %}
  {% if data['pfda'] or data['os'] %}
    <div class="mt-3 row row-cols-2">
      <div class="col">
        {% with url=url, title=title, subtitle=subtitle, text=text, data=data %}
          {% include "import/partials/other_file_select.html" %}
        {% endwith %}
      </div>
    </div>
  {% else %}
    <div class="mt-3 row row-cols-2">
      <div class="col">
        {% with url=url, title=title, subtitle=subtitle, text=text, disable=disable %}
          {% include "import/partials/browser_file_select.html" %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
{% endblock %}
