
{% set study = data['study'] %}
{% set selected = data['selected'] %}
{% set id = "card_" ~ study['id'] ~ "_div" %}
{% set action = 'DESELECT' if selected else 'SELECT' %}
{% set action_text = 'Deselect' if selected else 'Select' %}
{% set action_icon = 'bi bi-toggle-on' if selected else 'bi bi-toggle-off' %}
{% set action_class = 'btn-primary' if selected else 'btn-outline-primary' %}
{% set border = 'border-primary' if selected else '' %}
<div id="{{id}}" class="card card-body rounded-3 h-100 {{border}}">
  <div class="row">
    <h6 class="card-subtitle">{{study['sponsor']}}: {{study['sponsor_identifier']}}</h6>
  </div>
  <div class="row mt-2">
    <div class="container">
      <p class="card-text text-muted lh-1"><small>{{study['title']}}</small></p>
    </div>
  </div>
  <div class="row mt-2">
    <div class="container">
      {% if study['versions'] == 1 %}
        {% set vtext = "1 version" %}
      {% else %}
        {% set vtext = study['versions'] ~ " versions" %}
      {% endif %}            
      <span class="badge rounded-pill bg-info">{{study['phase']}}</span>
      <span class="badge rounded-pill bg-info">{{vtext}}</span>  
      {% if is_m11_docx_import(study['import_type']) %}
        <span class="badge rounded-pill bg-primary">M11 Document</span>
      {% elif is_usdm_excel_import(study['import_type']) %}
        <span class="badge rounded-pill bg-success">USDM Excel</span>
      {% elif is_fhir_v1_import(study['import_type']) %}
        <span class="badge rounded-pill fhir">FHIR</span>
      {% elif is_usdm3_json_import(study['import_type']) %}
        <span class="badge rounded-pill usdm">USDM</span>
      {% elif is_usdm4_json_import(study['import_type']) %}
        <span class="badge rounded-pill usdm">USDM</span>
      {% endif %}            
      
    </div>
  </div>
  <div class="row mt-3">
    <div class="container">
      <a href="/versions/{{study['latest_version_id']}}/summary" class="btn btn-sm btn-outline-primary rounded-5 mb-1">
        <i class="bi bi-gear"></i>
        View Details
      </a>  
      <a href="/versions/{{study['latest_version_id']}}/protocol" class="btn btn-sm btn-outline-primary rounded-5 mb-1">
        <i class="bi bi-file-text"></i>
        View Protocol
      </a>  
      <button hx-patch="studies/{{study['id']}}/select?action={{action}}" hx-include="[name='list_studies']" hx-target="#{{id}}" hx-swap="outerHTML" class="btn btn-sm rounded-5 {{action_class}} mb-1">
        <i class="{{action_icon}} me-1"></i>{{action_text}}
      </button>  
    </div>
  </div>
</div>
