{% extends "shared/_main_layout.html" %}

{% block environment_content %}
  {% with request=request %}
    {% include "shared/partials/environment.html" %}
  {% endwith %}    
{% endblock %}
{% block user_content %}
  <div id="nav_display_name_div">  
    {% with request=request, user=user %}
      {% include "shared/partials/user.html" %}
    {% endwith %}    
  </div>
{% endblock %}  

{% block main_content %}
  {% set user_info = request.session['userinfo'] %}
  <div class="container-fluid mt-3">
    <div class="row row-cols-3">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">User Details</h5>
            <h6 class="card-subtitle mb-2 text-muted">Your details</h6>
            <div class="row row-cols-2">
              <div class="col-4">
                Email
              </div>
              <div class="col-8">
                {{user_info['email']}}
              </div>
            </div>
            <div class="row row-cols-2">
              <div class="col-4">
                Display Name
              </div>
              <div id="user_details_display_name_div" class="col-8">
                {{user.display_name}}
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Display Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Update your display name</h6>
            <div id="display_name_input_div">
              {% with user=user, data=data %}
                {% include "users/partials/display_name_input.html" %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Current Endpoints</h5>
            <h6 class="card-subtitle mb-2 text-muted">A list of the current available endpoints</h6>
            <div id="endpoint_list_div">
              {% with request=request, data=data %}
                {% include "users/partials/endpoint_list.html" %}
              {% endwith %}
            </div>
          </div>
        </div>
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Add Endpoints</h5>
            <h6 class="card-subtitle mb-2 text-muted">Add an endpoint</h6>
            <div id="endpoint_input_div">
              {% with request=request, data=data %}
                {% include "users/partials/endpoint_input.html" %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
      {% if user_info.email == "daveih1664dk@gmail.com" %}
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Database Delete</h5>
              <h6 class="card-subtitle mb-2 text-muted">Delete the entire database for all users</h6>
              <a type="submit" class="btn btn-outline-danger rounded-5" href="/database/clean" onclick="return confirm('Are you sure?')">
                <i class="bi bi-database-down pe-2"></i>Delete Database
              </a>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Database View</h5>
              <h6 class="card-subtitle mb-2 text-muted">Show debug view of the database</h6>
              <a type="submit" class="btn btn-outline-primary rounded-5" href="/database/debug">
                <i class="bi bi-database pe-2"></i>View Database
              </a>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Server</h5>
              <h6 class="card-subtitle mb-2 text-muted">Server information</h6>
              <p>
                URL: {{request.base_url}}<br>
                Server: {{request.scope['server'][0]}}<br>
                Port: {{request.scope['server'][1]}}<br>
                Environment: {{server_name(request)}}
              </p>
            </div>
          </div>
          <div class="card mt-3">
            <div class="card-body">
              <h5 class="card-title">Debug Level</h5>
              <h6 class="card-subtitle mb-2 text-muted">Debug level currently set to {{data['debug']['level']}}</h6>
              {% with request=request, data=data %}
                {% include "users/partials/debug.html" %}
              {% endwith %}
            </div>
          </div>
        </div>
      {% endif %}
      </div>
  </div>
{% endblock %}
