{% extends "shared/_main_layout.html" %}

{% block environment_content %}
  {% with request=request %}
    {% include "shared/partials/environment.html" %}
  {% endwith %}    
{% endblock %}
{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}  

{% block main_content %}
  <div class="container-fluid">
    <div class="col mt-3">
      <div class="card card-body rounded-3">
        <p class="lead text-danger">Fatal Error</p>
        <p>{{data['error']}}</p>
        <div class="container-fluid ps-0">
          <a class="btn btn-sm btn-outline-primary rounded-5" href="/logout">
            <i class="bi bi-box-arrow-right me-1"></i>Logout
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
