{% extends "shared/_main_layout.html" %}
{% block main_content %}
  {% set sponsor = data['identifiers']['Clinical Study Sponsor'] %}
  <div class="mt-3 row">
    <div class="col-12">
      <div class="card card-body rounded-3 shadow-sm">
        <div class="row mt-2">
          <h4 class="card-title">{{data['titles']['Official Study Title']}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Sponsor: {{sponsor['studyIdentifierScope']['name']}} | Phase: {{data['phase']['standardCode']['decode']}} | Identifier: {{sponsor['studyIdentifier']}} | Version: {{data['versionIdentifier']}}</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 row">
    <div class="col-12">
      <div class="card card-body rounded-3 h-100">
        <ul class="nav nav-tabs role="tablist">
          {% for k, v in data['study_designs'].items() %}
            {% set id = "tab-" ~ loop.index0 ~ "_div" %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{id}}">Study Design 1</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content mt-2">
          {% for k, v in data['study_designs'].items() %}
            {% set id = "tab-" ~ loop.index0 ~ "_div" %}
            <div id="{{id}}" class="tab-pane fade show active" role="tabpanel" hx-get="/versions/{{data['id']}}/studyDesigns/{{v['id']}}/summary" hx-trigger="load" hx-target="#{{id}}" hx-swap="outerHTML">
              {% with %}
                {% include "shared/partials/spinner.html" %}
              {% endwith %}            
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
