{% extends "shared/_new_layout.html" %}
{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}
{% block main_content %}
  <div class="mt-3 row align-items-start">
    <div class="col-12">
      {% with url="/files/upload", text="Upload an Excel (.xlsx) file and zero, one or more images files. Images can be '.png' or '.jpg' files. Click 'Choose files' to select files or to clear selection and reselect files.", disable=False %}
        {% include "import/partials/file_select.html" %}
      {% endwith %}
    </div>
  </div>
{% endblock %}
