{% extends "shared/_main_layout.html" %}
{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}
{% block main_content %}
  <div class="mt-3 row row-cols-2">
    <div class="col">
      {% with url="/files/upload", title="Import USDM Excel Definition", text="Upload an Excel (.xlsx) file and zero, one or more images files. Images can be '.png' or '.jpg' files.", disable=False %}
        {% include "import/partials/file_select.html" %}
      {% endwith %}
    </div>
    <div class="col">
      <div class="card rounded-3">
        <div class="card-body">
          <h4 class="card-title">USDM Excel Import</h4>
          <h6 class="card-subtitle mb-2 text-muted">Details</h6>
          ...
        </div>  
      </div>
    </div>
  </div>
{% endblock %}
