<div id="data_div">

  {% with pagination=pagination %}
    {% include "shared/partials/table_header.html" %}
  {% endwith %}  

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Transmitted At</th>
          <th scope="col">Study</th>
          <th scope="col">Version</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for item in data['items']: %}
          <tr>
            <td>{{item['created']}}</td> 
            <td>{{item['study']}}</td>
            <td>{{item['version']}}</td>
            <td>{{item['status']}}</td>
            <td>
              {% if item['uuid'] %}
                <a href="https://vhewer.com/study?url=%7bupd%7d/Bundle/{{item['uuid']}}" target="_blank"><i class="bi bi-fire text-danger" style="font-size: 1.5rem;"></i></a>
              {% endif %}
            </td>
            <td>
              {% if item['uuid'] %}
                <a href="https://vhewer.com/?url=%7bupd%7d/Bundle/{{item['uuid']}}" target="_blank"><i class="bi bi-filetype-json text-danger" style="font-size: 1.5rem;"></i></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% with pagination=pagination %}
    {% include "shared/partials/table_footer.html" %}
  {% endwith %}  

</div>  
