{% extends "shared/_main_layout.html" %}
{% block environment_content %}
  {% with request=request %}
    {% include "shared/partials/environment.html" %}
  {% endwith %}    
{% endblock %}
{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}
{% block main_content %}
  <div class="container-fluid">
    <div class="mt-3 row">
      <div class="col">
        <div class="card card-body rounded-3">
          <h5 class="card-title mb-2">Users</h5>
          <pre>{{data['users']}}</pre>
        </div>
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col">
        <div class="card card-body rounded-3">
          <h5 class="card-title mb-2">Studies</h5>
          <pre>{{data['studies']}}</pre>
        </div>
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col">
        <div class="card card-body rounded-3">
          <h5 class="card-title mb-2">Versions</h5>
          <pre>{{data['versions']}}</pre>
        </div>
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col">
        <div class="card card-body rounded-3">
          <h5 class="card-title mb-2">Imports</h5>
          <pre>{{data['imports']}}</pre>
        </div>
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col">
        <div class="card card-body rounded-3">
          <h5 class="card-title mb-2">Endpoints</h5>
          <pre>{{data['endpoints']}}</pre>
        </div>
      </div>
    </div>
    <div class="mt-3 row">
      <div class="col">
        <div class="card card-body rounded-3">
          <h5 class="card-title mb-2">User Endpoint Map</h5>
          <pre>{{data['user_endpoints']}}</pre>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
