<div id="data_div">

  {% with pagination=pagination %}
    {% include "shared/partials/table_header.html" %}
  {% endwith %}  

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Version</th>
          <th scope="col">Filename</th>
          <th scope="col">Import Type</th>
          <th scope="col">When</th>
          <th scope="col">USDM JSON Viewer</th>
          <th scope="col">USDM JSON Explorer</th>
          <th scope="col">USDM JSON Difference</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data['items']: %}
          <tr>
            <td>{{item['version']}}</td>
            <td>{{item['import']['filename']}}</td> 
            <td>{{item['import']['type']}}</td> 
            <td>{{item['import']['created']}}</td> 
            <td>
              <a href="/versions/{{item['id']}}/usdm" class="btn btn-sm btn-outline-primary rounded-5" title="View the USDM JSON">
                <i class="me-1 bi bi-filetype-json"></i>USDM JSON Viewer
              </a>  
            </td>
            <td>
              <a href="/versions/{{item['id']}}/usdmExplore" class="btn btn-sm btn-outline-primary rounded-5" title="View the USDM JSON">
                <i class="me-1 bi bi-filetype-json"></i>USDM JSON Explorer
              </a>  
            </td>
            <td>
              {% if loop.index0 != 0 %}
                {% set previous_id = data['items'][loop.index0 - 1]['id'] %}
                <a href="/versions/{{item['id']}}/usdmDiff?previous={{previous_id}}" class="btn btn-sm btn-outline-primary rounded-5" title="View the difference in the JSON compared to the previous version">
                  <i class="me-1 bi bi-file-diff"></i>USDM JSON Diff
                </a>  
              {% else %}
                <p><small><i>No difference possible</i></small></p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% with pagination=pagination %}
    {% include "shared/partials/table_footer.html" %}
  {% endwith %}  

</div>  
