<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
    <i class="bi bi bi-download me-2"></i>Export
  </a>
  <div class="dropdown-menu">
    {% for version in data['fhir']['versions'] %}
        {% if fhir_version_export(version) %}
            {% set title = "M11 FHIR" %}
            {% set desc = fhir_version_description(version) %}
            <a class="dropdown-item" href="/versions/{{data['version']['id']}}/export/fhir?version={{version}}">{{title}}, {{desc}} (.json)</a>
        {% endif %}
    {% endfor %}
    <a class="dropdown-item" href="/versions/{{data['version']['id']}}/export/json">USDM v4 (.json)</a>
    <a class="dropdown-item" href="/versions/{{data['version']['id']}}/export/excel?version=4">USDM v4 format Excel (.xlsx)</a>
    <a class="dropdown-item" href="/versions/{{data['version']['id']}}/export/excel?version=3">USDM v3 format Excel (.xlsx)</a>
    <!--<a class="dropdown-item" href="/versions/{{data['version']['id']}}/export/protocol">Protocol (PDF)</a>-->
  </div>
</li>

