<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
    <i class="bi bi-box-arrow-in-down me-2"></i>Import
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/import/xl">USDM Excel (.xlsx)</a>
    <a class="dropdown-item" href="/import/m11">M11 Document (.docx)</a>
    <a class="dropdown-item" href="/import/fhir?version=1">M11 FHIR v1 (Dallas) (.json)</a>
    <a class="dropdown-item" href="/import/status?page=1&size=10">Import Status</a>
  </div>
</li>
