<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
    <i class="bi bi-box-arrow-in-down me-2"></i>Import
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/import/xl">USDM Excel (.xlsx)</a>
    <a class="dropdown-item" href="/import/m11-docx">M11 Document (.docx)</a>
    <a class="dropdown-item" href="/import/cpt-docx">CPT Document (.docx)</a>
    <a class="dropdown-item" href="/import/legacy-pdf">Legacy Document (.pdf)</a>
    <a class="dropdown-item" href="/import/usdm3">USDM v3 (.json)</a>
    <a class="dropdown-item" href="/import/usdm">USDM v4 (.json)</a>
    {% for version in data['fhir']['versions'] %}
      {% set title = "M11 FHIR v" ~ version %}
      {% set desc = fhir_version_description(version) %}
      <a class="dropdown-item" href="/import/fhir?version=1">{{title}}, {{desc}} (.json)</a>
      {% endfor %}
    <a class="dropdown-item" href="/import/status?page=1&size=10">Import Status</a>
  </div>
</li>
