<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
    <i class="bi bi-download me-2"></i>Export
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/versions/{{data['id']}}/studyDesigns/{{data['study_id']}}/timelines/{{data['timeline']['id']}}/export/fhir">FHIR SoA message (.json)</a>
    <a class="dropdown-item" href="/versions/{{data['id']}}/studyDesigns/{{data['study_id']}}/timelines/{{data['timeline']['id']}}/export/pj">Patient Journey: Simple (.json)</a>
    <a class="dropdown-item" href="/versions/{{data['id']}}/studyDesigns/{{data['study_id']}}/timelines/{{data['timeline']['id']}}/export/expansion">Patient Journey: Expanded (.json)</a>
  </div>
</li>

