<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
    <i class="bi bi-send me-2"></i>Transmit
  </a>
  <div class="dropdown-menu">
    {% if data['endpoints']['count'] == 0 %}
      <a class="dropdown-item" href="#">No endpoints available, you need to create one or more</a>
    {% else %}
      {% for item in data['endpoints']['items'] %}
        {% set title = "SoA FHIR v" ~ version %}
        {% set desc = fhir_version_description(version) %}
        <a class="dropdown-item" href="/versions/{{data['id']}}/studyDesigns/{{data['study_id']}}/timelines/{{data['timeline']['id']}}/transmit/{{item['id']}}">FHIR SoA message to {{item['name']}}</a>
      {% endfor %}
    {% endif %}
    <a class="dropdown-item" href="/transmissions/status?page=1&size=10">Transmission Status</a>
  </div>
</li>