{% extends "shared/_main_layout.html" %}

{% block environment_content %}
  {% with request=request %}
    {% include "shared/partials/environment.html" %}
  {% endwith %}    
{% endblock %}
{% block additional_css %}
  {% with %}
    {% include "shared/styles/m11.html" %}
  {% endwith %}  
{% endblock %}   
{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}
{% block menu_content %}
{% endblock %}

{% block main_content %}
  <div class="container-fluid">
    <div id="data-div" class="container" hx-get="/m11/specification_data" hx-trigger="load" hx-target="#data-div" hx-swap="outerHTML">
      {% with %}
        {% include "shared/partials/spinner.html" %}
      {% endwith %}            
    </div>
  </div>
{% endblock %}
