<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>d4k Study Definitions Workbench</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
      <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
      <style>
        .custom-bg {
            background-color: #DCDCDC !important;
            border: none !important;
            border-width:0!important;
        }
      </style>  
      {% block additional_css %}
      {% endblock %}      
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light custom-bg border-bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/index">
          <img class="me-2" src="/static/images/wide_logo.png" alt="" height="24">
        </a>      
        <div class="collapse navbar-collapse" id="navBarMain">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <!-- <a class="nav-link text-info" href="/users">
                <i class="bi bi-person me-1"></i>{% block user %}{% endblock %}
              </a> -->
              {% block user_content %}{% endblock %}
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/index">
                <i class="bi bi-house me-1"></i>Home
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
                <i class="bi bi-info-circle me-1"></i>Help
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/about">About</a>
              </div>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/logout">
                <i class="bi bi-box-arrow-right me-1"></i>Logout
              </a>
            </li>
          </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarMain" aria-controls="navBarMain" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>    
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarChild" aria-controls="navBarChild" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBarChild">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/file">
                  <span style="font-size: 1.1rem;" class="text-dark"><i class="bi bi-floppy me-2"></i>File</span>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">
                  <i class="bi bi-info-circle me-1"></i>Import
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/import/m11">M11 Document (.docx)</a>
                  <a class="dropdown-item" href="/import/xl">USDM Excel (.xlsx)</a>
                </div>
              </li>
              {% block menu_content %}{% endblock %}
              <!-- <li class="nav-item active">
                <a class="nav-link" href="/test1">
                  <span style="font-size: 1.1rem;" class="text-dark"><i class="bi bi-box-arrow-up me-2"></i>Export</span>
                </a>
              </li> -->
            </ul>
        </div>
      </div>  
    </nav>
  

    <div class="container-fluid">
      {% block main_content %}
      {% endblock %}
    </div>
    
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    {% block additional_js %}
    {% endblock %}

  </body>
</html>