{% extends "shared/_main_layout.html" %}

{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}

{% block main_content %}
  {% set url = data['url'] ~ "?version=" ~ data['version']%}
  {% set title = "Load File" %}
  {% set subtitle = "Load a " ~ data['load_type'] ~ " '.yaml' file" %}
  {% set text = "Select a single '.yaml' file" %}
  {% set disable = False %}
  {% if data['pfda'] or data['os'] %}
    <div class="mt-3 row row-cols-2">
      <div class="col">
        {% with url=url, title=title, subtitle=subtitle, text=text, data=data %}
          {% include "import/partials/other_file_select.html" %}
        {% endwith %}
      </div>
    </div>
  {% else %}
    <div class="mt-3 row row-cols-2">
      <div class="col">
        {% with url=url, title=title, subtitle=subtitle, text=text, disable=disable %}
          {% include "import/partials/browser_file_select.html" %}
        {% endwith %}
      </div>
    </div>
  {% endif %}
{% endblock %}
