{% extends "shared/_main_layout.html" %}

{% block environment_content %}
  {% with request=request %}
    {% include "shared/partials/environment.html" %}
  {% endwith %}    
{% endblock %}
{% block user_content %}
  {% with request=request, user=user %}
    {% include "shared/partials/user.html" %}
  {% endwith %}    
{% endblock %}  

{% block additional_css %}
  {% with %}
    {% include "shared/styles/m11.html" %}
  {% endwith %}  
{% endblock %}   
{% block menu_content %}
  {% with view='safety', data=data %}
    {% include "shared/partials/view_menu.html" %}
  {% endwith %} 
{% endblock %}

{% block main_content %}
  {% set sponsor = data['version']['identifiers']['Pharmaceutical Company'] %}
  <div class="mt-3 row">
    <div class="col-12">
      <div class="card card-body rounded-3 shadow-sm">
        <div class="row mt-2">
          <h4 class="card-title">{{data['version']['titles']['Official Study Title']}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Sponsor: {{sponsor}} | Phase: {{data['version']['phase']}} | Identifier: {{sponsor['studyIdentifier']}} | Version: {{data['version']['version_identifier']}}</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 row">
    <div class="col-12">
      <div class="card card-body rounded-3 h-100">
        <ul class="nav nav-tabs role="tablist">
          {% for k, v in data['version']['study_designs'].items() %}
            {% set id = "study_design_tab-" ~ loop.index0 ~ "_div" %}
            {% set title = v['label'] or v['name'] %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{id}}">Safety: {{title}}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="tab-content mt-2">
          {% for k, v in data['version']['study_designs'].items() %}
            {% set id = "study_design_tab-" ~ loop.index0 ~ "_div" %}
            <div id="{{id}}" class="tab-pane fade show active" role="tabpanel" hx-get="/versions/{{data['version']['id']}}/studyDesigns/{{v['id']}}/safety" hx-trigger="load" hx-target="#{{id}}" hx-swap="outerHTML">
              {% with %}
                {% include "shared/partials/spinner.html" %}
              {% endwith %}            
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
