<div id="data_div">

  {% with pagination=pagination %}
    {% include "shared/partials/table_header.html" %}
  {% endwith %}  

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Imported At</th>
          <th scope="col">File Name</th>
          <th scope="col">Status</th>
          <th scope="col">Errors</th>
        </tr>
      </thead>
      <tbody>
        {% for item in data['items']: %}
          <tr>
            <td>{{item['type']}}</td> 
            <td>{{item['created']}}</td> 
            <td>{{item['filename']}}</td>
            <td>{{item['status']}}</td>
            <td>
              {% if item['type'] == "XLSX" %}
                <a href="/import/{{item['id']}}/errors" class="nav-link text-primary">
                  <i class="me-1 bi bi-bug" style="font-size: 1rem;" title="Download errors file"></i>Errors File
                </a>  
              {% else %}
                <p><small><i>No errors file available</i></small></p>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% with pagination=pagination %}
    {% include "shared/partials/table_footer.html" %}
  {% endwith %}  

</div>  
